
body{
    background-color:rgb(13, 12, 20);
}

.bg-light-dark{
    background-color: #283035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1 ;
}